body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(28, 28, 28);
    color: white;
    margin: 0;
}

.top-bar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.85);
}

h1 {
    padding-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#btn {
    display: block;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    margin-right: 2rem;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 3rem;
    height: auto
}

textarea {
    border-radius: 25px;
    border-style: hidden;

    resize: none;
    font-size: x-large;
    width: 50rem;
    height: 29rem;
    font-weight: bold;
    padding: 2rem;
    background-color: rgba(238, 238, 238, 0.8);
}

.container {
    margin-top: 5rem;
    margin-left: 7rem;
    margin-right: 7rem;
    display: flex;
    justify-content: space-between;
}

.metrics {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 33rem;
    /*align-items: center;*/
    /*justify-content: center;*/
  }


  .metric {
    margin: auto;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    width: 15rem;
    text-align: center;
    color: white;
    background: rgba(255, 10, 235, 0);
    text-shadow: 0 0 .5rem black;
    font-weight: 900;
  }